@import "./vars";

* {
  font-family: Arial, sans-serif;
}

body {
  background-color: $background-color;
}

div.container {
  width: 75%;
  margin: $spacing auto;
}

div.card {
  background-color: white;
  padding: $spacing / 2;
  border: 1px solid $border-color;
  border-radius: $spacing / 4;
}

div.calculator-group {
  display: flex;

  :first-child, :nth-child(2) {
    margin-right: $input-padding;
  }
}

div.input-row {
  height: 50px;
  padding: $input-padding 0px;
}

img.icon {
  max-height: 100%;
}
